<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366460338088-blisqc99e2hgki04mbdk9vui7kr47pgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366460338088-blisqc99e2hgki04mbdk9vui7kr47pgs</string>
	<key>API_KEY</key>
	<string>AIzaSyDH3K8uvwqJvSK_qGFcBEgO2agxrwwt_4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>366460338088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ProfessorDriverApp</string>
	<key>PROJECT_ID</key>
	<string>profd-ef3a6</string>
	<key>STORAGE_BUCKET</key>
	<string>profd-ef3a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366460338088:ios:c9a85adea53d1b2338e79d</string>
	<key>DATABASE_URL</key>
	<string>https://profd-ef3a6-default-rtdb.firebaseio.com</string>
</dict>
</plist>